@font-face {
    font-family: "Oxygen";
    src: url("./fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("./fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

a{
    font-family: Lexend, Arial, sans-serif;
}

p{
    font-family: Lexend, Arial, sans-serif;
}
b{
    font-family: Lexend, Arial, sans-serif;
}

button{
    font-family: Oxygen, Arial, sans-serif !important;
}

label {
    font-family: Oxygen, Arial, sans-serif;
}

.outline-text{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.onClickHoverIcon{
    text-decoration: underline;
}

.onClickHoverIcon:hover{
    cursor: pointer;
}

/*index*/

.banner-left{
    width: auto;
    height: auto;
    position: fixed;
    top: -10px;
    left: -10px;
}

.index-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 810px;
    border-radius: 5px;
}

.index-card:hover{
    box-shadow: 0 16px 128px 0 rgba(0,0,0,0.9);
}

.index-card-container{
    padding: 2px 16px;
    text-align: center;
}

.index-card-container>*{
    color: white;
    text-align: center;
}

.status-box-c>*{
    text-align: left;
}

hr.solid {
    display: block;
    border: 0;
    border-top: 3px solid #2d2d2d;
    border-radius: 5px;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/*dashboard*/

.light-theme{
    color: black;
    background-color: ghostwhite;
}

.light-theme-secondary{
    background-color: #a7a7a7;
}

.light-text{
    color: black;
}

.light-box-shadow{
    box-shadow: 0 8px 8px 0 rgba(141,141,141,0.9);
}

.dark-theme{
    color: ghostwhite;
    background-color: #191919;
}

.dark-text{
    color: ghostwhite;
}

.dark-theme-secondary{
    background-color: #0a0a0a;
}

.dark-box-shadow{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.9);
}

.pink-theme{
    color: black;
    background-color: #ffa2e4
}

.pink-theme-secondary{
    background-color: #ac65c3;
}

.pink-text{
    /*color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    color: black;
}

.pink-box-shadow{
    box-shadow: 0 8px 8px 0 rgba(181,99,167,0.9);
}

.no-input-border{
    border-style: none;
    border-radius: 5px;
    font-family: Oxygen, Arial, sans-serif !important;
}

.top-navigation-bar{
    position: fixed;
    min-width: 100%;
    width: 100%;
    top: 0;
    min-height: 60px;
    max-height: 60px;
}

.align-left{
    position: relative;
    float: left;
    left: 15px;
}

.align-right{
    position: relative;
    float: right;
    right: 15px;
}
.inline-bubble {
    border-radius: 7px;
    position: relative;
    height: 100px;
}

.inline-bubble>*{
    text-align: left;
    left: 105px;
    word-break: break-word;
    overflow-y: auto;
    min-height: 100px;
    max-height: 100px;
    width: 92%;
}

.inline-bubble>*::-webkit-scrollbar{
    display: none;
}

.bubble {
    border-radius: 7px;
    position: relative;
    width: 50%;
    height: 100px;
    left: 25%;
    top: 100px
}

.bubble>*{
    text-align: left;
    left: 105px;
    word-break: break-word;
    overflow-y: auto;
    display: inline-block;
    max-height: 100px;
}

.bubble>*::-webkit-scrollbar{
    display: none;
}

.info-bubble{
    background-color: rgb(33, 150, 243);
    /*outline: #257eff solid 2px;*/
}

.warn-bubble{
    background-color: rgb(255, 183, 0);
    /*outline: #fc9528 solid 2px;*/
}

.error-bubble{
    background-color: #f52a3a;
    /*outline: #fc9528 solid 2px;*/
}

/*Why does PureCSS make me use !important?*/
.success-button{
    background-color: #45b71b !important;
    color: ghostwhite !important;
}

/*Why does PureCSS make me use !important?*/
.error-button{
    background-color: #f52a3a !important;
    color: ghostwhite !important;
}

/*Why does PureCSS make me use !important?*/
.black-button{
    background-color: #000 !important;
    color: ghostwhite !important;
}

.top-nav-bar-tab{
    cursor: pointer;
}

.selected-tab {
    text-decoration: underline auto;
    text-decoration-thickness: 5px;
}

.centered-list-main{
    position: relative;
    min-width: 75%;
    max-width: 75%;
    min-height: 80%;
    display: block;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
}

.pronoun-card{
    background-color: #2c2c2c;
    color: ghostwhite !important;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    border-color: #2c2c2c;
}

.friend-list-card{
    list-style-type: none;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.friend-list-card > li {
    max-width: 400px;
    max-height: 225px;
    cursor: pointer;
    padding-left: 5px;
}

.nav-button {
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: Lexend, Oxygen, Arial, sans-serif;
    cursor: pointer;
}

.fixed-popup{
    background-color: rgba(10, 10, 10, 0.9);
    width: 102%;
    height: 102%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-popup-card-align-left{
    text-align: left !important;
}

.fixed-popup-card{
    width: 30%;
    height: 70%;
    border-radius: 10px;
    text-align: center;
    word-break: break-word;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fixed-popup-card::-webkit-scrollbar {
    display: none;
}

.user-actions-profile > *{
    position: relative;
    left: 5px;
    top: 5px;
}